* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Thông báo */
.cart_header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    margin-top: 66px;
}

#delete_notification {
    display: none; 
    color: #7a9c59; 
    font-weight: bold; 
    margin-top: 5px;
    margin-left: 30px;
}

.notification_check {
    color: #7a9c59;
}

#cart_announcement {
    font-size: 18px;
    color: #888;
    padding: 12px 30px;
    text-align: center;
    margin-top: 100px;
    margin-left: 550px;
}

/* Container */
.cart_container {
    display: flex;
    margin-top: 84px;
    margin-left: 30px;
    margin-bottom: 2rem;
    min-height: 375px;
}


/* Icons */
.product_remove .item_remove {
    width: 24px;
    height: 24px;
    opacity: .35;
    margin-right: 4px;
    font-size: 20px;

}


.coupon .item_coupon {
    opacity: .35;
    margin-right: 4px;
}

/* Giỏ hàng */

.cart_wrapper {
    width: 70%;
}


.cart_table th, .cart_table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ececec;
}

.cart_table th {
    box-sizing: border-box; 
    font-size: 16px;
    text-transform: uppercase; 
    border-bottom: 3px solid #ececec;  
    color: #777;
}

.cart_form_products .product_remove{
    padding: 3px;
}

.cart_form_products td, .cart_form_products td div {
    text-align: center;
}

.cart_form_products .product_price, 
.cart_form_products .product_subtotal {
    font-weight: bold;
}

.cart_table th:last-child {
    padding-right: 0;
}

.appear:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}


/* Bảng giỏ hàng đã thêm vào */
.cart_table {
    width: 100%;
    margin-top: 40px;
    border-right: 3px solid #e0e0e0;
    border-collapse: collapse;
}

.cart_table  th, td {
    text-align: center;
}

.cart_table .product_name1 {
    text-align: left;
}

img {
    width: 100%;
    height: auto;
}

/* Note */
.input_note {
    padding: 10px;
    resize: none;
    height: 90.8px;
    width: 100%;
    border: none;
    scrollbar-width: none;
    --webkit-appearance: none;
    outline: none;
}

/* Tăng giảm số lượng đơn hàng */
.buttons_added {
    display: inline-flex;
    border: 1px solid #ccc;
}

#number_subtraction, #number_addition {
    border: none;
    background-color: #e0e0e0;
    width: 25px;
}

#number_subtraction:hover, #number_addition:hover {
    opacity: 0.7;
    cursor: pointer;
}

#number_step {
    width: 35px;
    height: 25px;
    text-align: center;
    border: none;    
}

/* Xoá phần có mũi tên lên xuống */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



/* Tiếp tục xem và cập nhật giỏ hàng */

.button_continue {
    margin-left: 30px;
    padding-top: 6px;
}


.continue {
    border: 2px solid red;
    background-color: #fff;
    color: red;
    padding: 6px 10px;
}

.continue:hover {
    background-color: red;
    color: #fff;
    cursor: pointer;
}


/* Form cần thanh toán */

.product_name2 {
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    border: 1px solid #777;
    color: #777;
    border-width: 3px;
    padding: 7px;
}

/* Tính tổng cần thanh toán */
.cart_totals table {
    width: 100%;
    border-collapse: collapse;
}

.cart_totals th {
    text-align: left;
    border-bottom: 1px solid #ececec;
}

.cart_totals td {
    text-align: right;
}

.cart_subtotal, .order_total {
    font-weight: bold;
}

.normal_text {
    padding: 10px;
    font-weight: normal;
    text-transform: inherit;
}


/* Thanh toán sản phẩm */
.cart_form_payments {
    position: fixed;
    right: 30px;
    width: 25%;
}

.sub_payment {
    padding: 10px; 
    margin-top: 20px;
    background-color: #d26e4b;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: #fff;
    border: none;

}

.sub_payment:hover {
    background-color: #9b6c47;
    cursor: pointer;
}
 
.order_total {
    border-bottom: 3px solid #ececec;
}

/* Mã giảm giá */
.text_coupon {
    border-bottom: 3px solid #ececec;
    opacity: 0.7;
    padding-bottom: 10px;
    margin: 20px 0px;
}


.coupon_code{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #aeacac;

}

.apply {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

.apply:hover {
    background-color: #aeacac;
    cursor: pointer;
}
.footer {
    margin-top: 490px;
}

/* form */
.payment_modal {
    display: none;
    position: fixed;
    z-index: 2;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4);
}

.paymentForm {
    width: 700px;
    border: 1px solid rgb(155, 153, 153);
    padding: 20px;
    margin: 5% auto;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 254, 254, 0.8);
}
.payment_title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}
.iput_payment {
    position: relative;
    margin-bottom: 15px;
}
.payment_lastName,
.payment_firstName,
.payment_email, 
.payment_phoneNumber {
    width: 100%;
    height: 40px;
    border: 1px solid rgb(155, 153, 153);
    border-radius: 4px;
    padding-left: 40px;
    outline: none;
}
.payment_icon {
    position: absolute;
    left: 10px;
    top: 10px;
    color: gray;
}
.payment_button {
    width: 100%;
    height: 40px;
    border: none;
    background-color:#333;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}
.payment_button:hover {
    background-color: rgb(180, 28, 28);
}