* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Common */
.cart-wrapper, .cart-sidebar {
    padding: 0 30px 30px;
    margin-bottom: 0;
}

.cart-form-products, .cart-form-payments {
    width: 50%;
}

/* Container */
.cart-container {
    display: flex;
    margin: 10px 50px;
    position: relative;
}


/* Icons */
.product-remove i{
    width: 24px;
    height: 24px;
    opacity: .35;
    margin-right: 4px;
    font-size: 20px;

}


.coupon i {
    opacity: .35;
    margin-right: 4px;
}

/* Giỏ hàng */
.cart-wrapper, .cart-form {
    padding: 0 30px 30px;
    margin-bottom: 0;
}

.cart-wrapper {
    border-right:2px solid #ececec;
    width: 900px;
}

/* .cart-form-products {
    width: 600px;
} */


th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ececec;
}

th {
    box-sizing: border-box; 
    font-size: 16px;
    text-transform: uppercase; 
    border-bottom: 3px solid #ececec;  
    color: #777;
}

.cart-form-products .product-remove{
    padding: 3px;
}


th:last-child {
    padding-right: 0;
}

/* Bảng giỏ hàng đã thêm vào */
.shop-table {
    width: 100%;
}

.shop-table  th, td {
    text-align: center;
}

.shop-table .product-name-1 {
    text-align: left;
}

img {
    width: 100%;
    height: auto;
}

/* Tăng giảm số lượng đơn hàng */
.buttons_added {
    display: inline-flex;
    border: 1px solid #ccc;
}

#number-subtraction, #number-addition {
    border: none;
    background-color: #e0e0e0;
    width: 25px;
}

#number-subtraction:hover, #number-addition:hover {
    opacity: 0.7;
    cursor: pointer;
}

#number-step {
    width: 35px;
    height: 25px;
    text-align: center;
    border: none;    
}

/* Xoá phần có mũi tên lên xuống */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}



/* Tiếp tục xem và cập nhật giỏ hàng */
.continue-update {
    display: flex;
    padding:  15px 0 10px;
}

.button-continue {
    padding: 0px 7px 0px 0px ;
}



.continue {
    border: 2px solid red;
    background-color: #fff;
    color: red;
    padding: 6px 10px;
    cursor: pointer;
}

.update {
    background-color: red;
    color: #fff;
    border: 2px solid red;
    padding: 6px 10px;
    cursor: pointer;
}

/* Form cần thanh toán */

.product-name-2 {
    text-transform: uppercase;
    font-weight: bold;
    width: 100%;
    border: 1px solid #777;
    color: #777;
    border-width: 3px;
}

/* Tính tổng cần thanh toán */
.cart-totals table {
    width: 100%;
    border-collapse: collapse;
}

.cart-totals th {
    text-align: left;
    border-bottom: 1px solid #ececec;
}

.cart-totals td {
    text-align: right;
}

.cart-subtotal, .order-total {
    font-weight: bold;
}

.normal-text {
    padding: 10px;
    font-weight: normal;
    text-transform: inherit;
}


/* Thanh toán sản phẩm */
.sub-payment {
    padding: 10px; 
    margin-top: 20px;
    background-color: #d26e4b;
    width: 100%;
    text-align: center;
    font-weight: bold;
    color: #fff;
    border: none;

}

.sub-payment:hover {
    background-color: #9b6c47;
    cursor: pointer;
}
 
.order-total {
    border-bottom: 3px solid #ececec;
}

/* Mã giảm giá */
h4 {
    border-bottom: 3px solid #ececec;
    opacity: 0.7;
    padding-bottom: 10px;
    margin: 20px 0px;
}


.coupon_code{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #aeacac;

}

.apply {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

.apply:hover {
    background-color: #aeacac;
    cursor: pointer;
}


.col {
    padding: 0 30px 30px;
    margin-bottom: 0;
}