*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* phần chứa div ảnh và div introduce */
.details_top{
    height:640px;
    display: flex;
    width: 100vw;
}

/* div chứa ảnh details */
.details_img{
    width: 700px;
    height: 600px;
}

.details_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* thể loại món */
.text1{
    font-size: 30px;
    opacity: 0.6;
    color: rgb(90, 89, 89);
}

/* tên món */
.text2{
    font-size: 40px;
    color: blue;
}

/* div chứa thông tin details */
.details_introduce{
    height: 640px;
    width: 784px;
    margin-left: 30px;
}
#number-input {
    display: inline-flex;
    align-items: center;
    border: 1px solid #ccc;
}
#number_subtraction, #number_addition{
    background-color: #e0e0e0;
    border: none;
    width: 30px;
    height: 32px;
    cursor: pointer;
    font-size: 18px;
}
.input_sl {
    width: 35px;
    height: 30px;
    text-align:center;
    border: none;
}
/* Ẩn mũi tên của ô input khi có type là number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* button mua hàng dish details */
#addCart{
    margin-left: 50px;
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
    height: 35px;
    width: 200px;
    cursor: pointer;
    border: none;
}

#addCart:hover{
    background-color: red;
    color: white;
    font-size: 18px;
}

/* text sản phẩm tt */
.details_bottom{
    text-align: center;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* div chứa toàn bộ dstt */
.dish-slider {
    position: relative;
    width: 100%; 
    overflow: hidden;
}

/* div chứa dstt */
.slider-content {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

/* list_dish được đặt tên để css khi lấy data từ localStorage */
.slider-content .list_dish {
    min-width: calc(25% - 10px); /* 25% chiều rộng trừ khoảng cách */
    margin: 0 5px; /* Khoảng cách giữa các món ăn */
    display: flex;
    flex-direction: column; /* Đặt các phần tử con xếp chồng lên nhau */
    background-color: rgb(243, 246, 246);
}

/* button chứa dấu mũi tên để chuyển dish trong dstt */
.slider-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    cursor: pointer;
    font-size: 24px;
    z-index: 10;
}

/* mũi tên trái */
#prev_dish {
    left: 10px;
}

/* mũi tên phải */
#next_dish {
    right: 10px;
}

/* giá details */
.price{
    font-size: 30px;
    color: red;
}

/* div chứa hình ảnh */
.dish1{
    height: 73%;
    width: 100%;
}

.dish1 img {
    width: 100%; 
    height: 320px; 
    object-fit: cover; /* hình ảnh cân đối */
}

/* logo đặt hàng dstt */
.dish button:hover{
    cursor: pointer;
}

/* type món ăn tt */
.dish h6{
    font-size: 17px;
    opacity: 0.6;
    padding: 6px;
}

/* text tên món ăn tương tự */
.dish h5{
    font-size: 20px;
    padding: 6px;
}

/* giá sp tương tự */
.dish span{
    font-size: 19px;
    color: rgb(255, 77, 0);
    margin-top: 5px;
    padding: 0 6px;
}

/* button đặt hàng trong danh sách */
.dish button{
    font-size: 15px;
    margin-bottom: 12px;
    color: red;
    padding: 5px;
    border: 1px solid red;
    border-radius: 5px;
    margin-left: 6px;
}

.dish button:hover{
    background-color: red;
    color: white;
}

/* phần footer */
.footer{
    height: 200px;
    background-color: rgb(204, 204, 202); 
    display: flex;
    margin-top: 70px;
}

/* phần footer từng cột*/
.footer_card{
    height: 100%;
    width: 20%;
    margin-left: 60px
}

/* phần đchi, time, theo dõi trong footer */
.card_textTop{
    text-align: center;
    font-size: 35px;
    margin-top: 20px;
}

/* phần dưới time, đchi */
.card_textBottom{
    text-align: center;
    font-size: 25px;
}

/* logo phần footer */
.card_logo{
    text-align: center;
    font-size: 45px;
    display: flex;
    gap: 50px;
    margin-left: 32px;
}

/* text trong phần mô tả */
.describe{
    max-height: 100px; 
    font-weight: normal; /* Không in đậm */
    padding: 0 5px;
}

/* text trang chủ */
.text1 a{
    text-decoration: none; /* bỏ gạch chân*/
    color: rgb(90, 89, 89);
}

/* text trang chủ khi hover */
.text1 a:hover{
    color: red;
}

/* thẻ div từng món ăn */
.dish {
    /* flex: 1;  */
    display: flex;
    flex-direction: column; /* các thành phần trong dish thành một cột */
    justify-content: space-between; /* nội dung được chia đều */
    background-color: rgb(243, 246, 246);
    cursor: pointer;
}

.dish:hover{
    box-shadow: 0 0 15px rgb(177, 177, 177);
}

/* div mô tả */
.details_introduce .describe{
    height: 150px;
    width: 700px;
    border: 1px solid rgb(214, 214, 214);
}